logstash:
  # The exact version of logstash to install.
  #version: 1.5.3

  # The version for the apt repository.
  repo_version: 1.5

#  forwarder:
#    # Location of the forwarder config on the salt fileserver
#    config: salt://nodes/my/node/logstash-forwarder.cfg
#
#    # The environment, can be used in the logstash forwarder config
#    environment: production
#
#    # The SSL certificate the forwarder uses to authenticate the master
#    certificate: salt://logstash-certificate.crt
